/* Shared styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
section {
    max-width: 1200px;
    margin: 40px auto;
}
/* header styles */
header {
    background-color: #71708676;
    height: 100px;
}
.header-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-left: 30px;
    background-color: black;
    padding: 20px 30px;
    border-radius: 5px;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.hamburger-menu {
    display: none;
    margin-top: 15px;
}
.hamburger-menu a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding:12px 20px;
    border-radius: 5px;
    

}
/* offer section styles */
.offer-section {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 0;
    
}
.offer-image{
    position: relative;
    
}
.offer-image>button {
    font-size:2rem;
    font-weight: 500;

    padding:30px 60px;
    position: absolute;
    top: 30%;
    left: 25%;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
}

.offer-image img{
    width: 100%;
    border-radius: 5%;
}

.offer-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.offer-description h1{
    font-size: 3rem;
    font-weight: bolder;
}
.offer-description p{
    font-size: 1.2rem;
}
.offer-buttons  button{
    padding:10px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #ad9999a3;
}
/* card section styles */
.card-section {
}
.card-section>h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content:space-between;
    padding: 20px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.323);

}
.card-content img{
    width: 100%;

}
.card-content h1{
    margin-top: 10px;
}
.card-content span{
    font-size: 1.1rem;
    font-weight: 700;
}
.card-content p {
    color: #908585;
}

/* hide content styles */
.hide-container {
    height:300px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;


}
.hide-content-1 {border: 2px solid red;
    grid-column: 1/span 7;
    grid-row:1/span 6;
    border-radius: 100px;
    position:relative;
}
.hide-content-2 {border: 2px solid red;
    grid-column:8/span 12;
    grid-row:1/span 6;
    border-radius: 100px;
    position:relative;
}
.hide-content-3 {border: 2px solid red;
    grid-column: 1/span 5;
    grid-row:7/span 12;
    border-radius: 100px;
    position:relative;
}
.hide-content-4 {border: 2px solid red;
    grid-column: 6/span 12;
    grid-row:7/span 12;
    border-radius: 100px;
    position:relative;
}
.hide-container img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    border-radius: 100px;
    filter: blur(3px);

}
.hide-container .hide-content-1 span {
    color: #000;
    font-size: 8rem;
    position:absolute;
    top: -60%;
    left:40%;
    font-weight: bolder;
}
.hide-container .hide-content-2 span {
    color: #000;
    font-size: 8rem;
    position:absolute;
    top: -60%;
    left:40%;
    font-weight: bolder;
}
.hide-container .hide-content-3 span {
    color: #000;
    font-size: 8rem;
    position:absolute;
    top: 5%;
    left:40%;
    font-weight: bolder;
}
.hide-container .hide-content-4 span {
    color: #000;
    font-size: 8rem;
    position:absolute;
    top: 5%;
    left:40%;
    font-weight: bolder;
}

/* Qna section styles.*/
.qna-section{
    margin: 80px auto;
}
.qna-section h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.qna-container {
    display: flex;
    gap: 5%;
}
.qna-image {
   width: 50%;
}
.qna-image img{
    width: 100%;
    height: 100%;
}
.qna-form-container {
    width: 50%;

}
.form-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.form-child {
    width: 48%;
    margin: 40px 0;
    border-radius: 5%;
}
.form-area {
    width: 100%;
}
.form-child p{
    font-size: 1.1rem;
}
.form-container input,select,textarea{
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: larger;

}
.submit-button>input {
    display: block;
    width:max-content;
    /* border: 1px solid red; */
    margin: 20px;
    border-radius: 5px;
    margin-left: auto;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
   

}

/* footer styles */
footer {
    background-color: #717086e4;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-content h4 {
    font-size: 1.2rem;
}
.footer-content p {
    font-size: 1.2rem;
    color: #fff;
}
.footer-input {
    border-radius: 10px;
    display: flex;
    gap: 0;}
.footer-input input[type=email] {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: transparent;
}
.footer-input input[type=submit] {
    font-size: 1.5rem;
    padding: 10px;
    border-radius:0 10px 10px 0;
    font-weight: 500;
    outline: none;
    background-color: hsla(43, 95%, 50%, 0.807);
    border: transparent;
    padding:10px;
}